	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand"><span>Video on Demand</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i><span><span ng-bind="ctrl.user.username"></span>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
									<span>Account Settings</span>
								</li>
								<li><a nhref="#"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a ng-click="ctrl.logout()"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

<div class="container-fluid-full">
	<div class="row-fluid">

		<!-- start: Main Menu -->
		<div id="sidebar-left" class="span2">
			<div class="nav-collapse sidebar-nav">
				<ul class="nav nav-tabs nav-stacked">
					<li><a ng-href="#/dashboard"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
					<li><a ng-href="#/movies"><i class="icon-film"></i><span class="hidden-tablet"> Movies</span></a></li>
					<li><a ng-href="#/series"><i class="icon-facetime-video"></i><span class="hidden-tablet"> Series</span></a></li>
					<li><a ng-href="#/users"><i class="icon-user"></i><span class="hidden-tablet"> Users</span></a></li>
					<li><a href="http://localhost:8090/" target="_blank"><i class="icon-user"></i><span class="hidden-tablet"> File Archive</span></a></li>
					<li><a ng-href="#/messages"><i class="icon-envelope"></i><span class="hidden-tablet"> Messages</span><span class="label label-important">4 </span></a></li>
				</ul>
			</div>
		</div>
		<!-- end: Main Menu -->
<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
		</p>
	</div>
</noscript>

<!-- start: Content -->
<div id="content" class="span10">


	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li><a href="#">Dashboard</a></li>
	</ul>

	<div class="row-fluid">

		<div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
			<div class="boxchart">5,6,7,2,0,4,2,4,8,2,9,9,2</div>
			<div class="number">854<i class="icon-arrow-up"></i></div>
			<div class="title">visits</div>
		</div>
		<div class="span3 statbox green" onTablet="span6" onDesktop="span3">
			<div class="boxchart">1,2,1,1,0,8,2,4,5,3,1,7,5</div>
			<div class="number">123<i class="icon-arrow-up"></i></div>
			<div class="title">Total Movie views</div>
		</div>
		<div class="span3 statbox orange" onTablet="span6" onDesktop="span3">
			<div class="boxchart">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
			<div class="number">123<i class="icon-arrow-up"></i></div>
			<div class="title">Total Series views</div>
		</div>
		<div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
			<div class="boxchart">1,6,7,,4,2,1,8,9,3,3,2</div>
			<div class="number">982<i class="icon-arrow-up"></i></div>
			<div class="title">Total comments</div>
		</div>
	</div>

	<div class="row-fluid">

		<div class="span8 widget blue" onTablet="span7" onDesktop="span8">
			<div id="stats-chart2" style="height:282px"></div>
		</div>
		<div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">
			<ul class="unstyled">
				<li><span class="sparkLineStats3"></span> Pageviews:
					<span class="number">781</span>
				</li>
				<li><span class="sparkLineStats4"></span> Pages / Visit:
					<span class="number">2,19</span>
				</li>
				<li><span class="sparkLineStats5"></span> Avg. Visit Duration:
					<span class="number">00:02:58</span>
				</li>
				<li><span class="sparkLineStats6"></span> Bounce Rate: <span class="number">59,83%</span>
				</li>
				<li><span class="sparkLineStats7"></span> % New Visits:
					<span class="number">70,79%</span>
				</li>
				<li><span class="sparkLineStats8"></span> % Returning Visitor:
					<span class="number">29,21%</span>
				</li>

			</ul>

			<div class="clearfix"></div>

		</div>
		<!-- End .sparkStats -->

	</div>

	<div class="row-fluid">
		<div class="span4 widget yellow noMargin" onTablet="span12" onDesktop="span4">
			<h2><span class="glyphicons fire"><i></i></span> Server Load</h2>
			<hr>
			<div class="content">
				<div id="serverLoad2" style="height:224px;"></div>
			</div>
		</div>
		<div class="box black span4" onTablet="span6" onDesktop="span4">
			<div class="box-header">
				<h2><i class="halflings-icon white list"></i><span class="break"></span>Weekly Stat</h2>
			</div>
			<div class="box-content">
				<ul class="dashboard-list metro">
					<li>
						<a href="#">
							<i class="icon-arrow-up green"></i>
							<strong>92</strong> New Comments
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-arrow-down red"></i>
							<strong>15</strong> New Registrations
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-minus blue"></i>
							<strong>36</strong> New Articles
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-comment yellow"></i>
							<strong>45</strong> User reviews
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-arrow-up green"></i>
							<strong>112</strong> New Comments
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-arrow-down red"></i>
							<strong>31</strong> New Registrations
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-minus blue"></i>
							<strong>93</strong> New Articles
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-comment yellow"></i>
							<strong>256</strong> User reviews
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/span-->

		<div class="widget span3 red" onTablet="span6" onDesktop="span3">

			<h2><span class="glyphicons pie_chart"><i></i></span> Browsers</h2>

			<hr>

			<div class="content">

				<div class="browserStat big">
					<img src="img/browser-chrome-big.png" alt="Chrome">
					<span>34%</span>
				</div>
				<div class="browserStat big">
					<img src="img/browser-firefox-big.png" alt="Firefox">
					<span>34%</span>
				</div>
				<div class="browserStat">
					<img src="img/browser-ie.png" alt="Internet Explorer">
					<span>34%</span>
				</div>
				<div class="browserStat">
					<img src="img/browser-safari.png" alt="Safari">
					<span>34%</span>
				</div>
				<div class="browserStat">
					<img src="img/browser-opera.png" alt="Opera">
					<span>34%</span>
				</div>


			</div>
		</div>
		<!--/span-->
	</div>
</div>
<!--/.fluid-container-->
<!-- end: Content -->
</div>
<!--/#content.span10-->
</div>
<!--/fluid-row-->

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Settings</h3>
	</div>
	<div class="modal-body">
		<p>Here settings can be configured...</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary">Save changes</a>
	</div>
</div>

<div class="clearfix">
</div>