<div class="row-fluid">
    <div class="col-md-2">
        <div class="card">
            <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
        </div>
    </div>
    <div class="col-md-10">
        <br/><br/>
        <h2>Vikings, Season 4</h2>
        <h5>12 Episodes . 2016 . PG - 14 . Thriller</h5>
        <span class="starRating">
  <input id="rating5" type="radio" name="rating" value="5" checked="checked">
  <label for="rating5">5</label>
  <input id="rating4" type="radio" name="rating" value="4">
  <label for="rating4">4</label>
  <input id="rating3" type="radio" name="rating" value="3">
  <label for="rating3">3</label>
  <input id="rating2" type="radio" name="rating" value="2">
  <label for="rating2">2</label>
  <input id="rating1" type="radio" name="rating" value="1">
  <label for="rating1">1</label>
</span></span>
            </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12"><p>
The series is inspired by the tales of the raiding, trading, and exploring Norsemen of early medieval Scandinavia. It follows the exploits of the legendary Viking chieftain Ragnar Lothbrok and his crew and family, as notably laid down in the 13th century sagas Ragnars saga Loðbrókar and Ragnarssona þáttr, as well as in Saxo Grammaticus's 12th century work Gesta Danorum. Norse legendary sagas were partly fictional tales based in Norse oral tradition, written down about 200 to 400 years after the events they describe. Further inspiration is taken from historical sources of the period, such as records of the Viking raid on Lindisfarne depicted in the second episode, or Ahmad ibn Fadlan's 10th-century account of the Volga Vikings. The series is set at the beginning of the Viking Age, marked by the Lindisfarne raid in 793.        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        <h2>Seasons (5)</h2>
        <br/>
    </div>
</div>
 <div class="row-fluid">
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 1</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 2</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 3</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 4</span>
                        </div>
                        </div>
                    </div>
                </div>
<div class="row-fluid">
    <div class="col-md-12">
        <h2>Episodes</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">

                <table class="table table-striped"> 
                    <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Title </th> 
                            <th>Date</th> 
                            <th>Length</th>
                        </tr> 
                        </thead> 
                        <tbody> 
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                              <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                              <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                              <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                            <tr> 
                                <th scope="row">1</th> 
                                <td><a href="...">A good treason</a></td> 
                                <td>12/12/12</td> 
                                <td>44:12</td> 
                            </tr>
                        </tbody> 
                    </table>
    </div>
</div>
<div class="row-fluid">
    <div class="col-md-12">
        <hr/>
        <h2>Similar series</h2>
    </div>
</div>
 <div class="row-fluid">
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 1</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 2</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 3</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 4</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 3</span>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Season 4</span>
                        </div>
                        </div>
                    </div>
                </div>