<div class="row-fluid" ng-controller="MainController as ctrl">
<div class="row-fluid">
  <!-- Top caroussel and images -->
  <div class="col-md-8" style="height: 280px; background: black;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="height: 280px;">
         <a href="#/aseries"><img src="images/game_of_thrones.jpg" style="width: 100%; max-height: 100%;"></a>
        </div>
        <div class="carousel-item">
          <a href="#/amovie"><img src="images/furious7.jpeg" style="width: 100%; height: 280px;"></a>
        </div>
        <div class="carousel-item">
          <a href="#/aseries"><img src="images/house_of_cards.jpg" style="width: 100%; height: 280px;"></a>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-4" style="height: 280px;">
    <a href="#/amovie"><img src="images/jason_bourne.jpg" style="width: 100%; height: 100%;"></a>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-12"><br/></div>
</div>
<div class="row-fluid">
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">The shallows</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">Narcos</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">Hello</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">Me Before You</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">Ip Man</p>
  </div>
  <div class="col-md-2 col-sm-4">
    <a href="#/amovie"><img src="images/frozen.jpg" class="img-responsive" style="width: 200px; height: 200px;"></a>
    <p class="text-center">Frozen</p>
  </div>
</div>
<!-- Top caroussel and images -->


<div class="row-fluid">
  <div class="col-md-11 vcenter">
    <h4>New movies</h4>
  </div>
  <div class="col-md-1"><a href="#/movies">show all</a></div>
  <br/>
</div>

<div class="row-fluid">
  <br/>
  <div ng-repeat="movie in ctrl.newMovies" class="col-md-2 col-sm-4">
    <a href="#/amovie" ng-click="ctrl.setSelectedMovie(movie)">
      <div class="card">
        <img src="{{ctrl.getMovieCoverImage(movie)}}" class="img-responsive img-cover card-img-top">
        <div class="card-block">
          <p class="card-title">{{movie.title}}</p>
        </div>
      </div>
    </a>
    </div>
</div>

<div class="row-fluid">
  <div class="col-md-11 vcenter">
    <h4>Top rated</h4>
  </div>
  <div class="col-md-1"><a href="#/movies">show all</a></div>
  <br/>
</div>

<div class="row-fluid">
  <br/>
  <div ng-repeat="movie in ctrl.topRatedMovies"  class="col-md-2 col-sm-4">
      <a href="#/amovie" ng-click="ctrl.setSelectedMovie(movie)">
        <div class="card">
          <img src="{{ctrl.getMovieCoverImage(movie)}}" class="img-responsive img-cover card-img-top">
          <div class="card-block">
            <p class="card-title"><span ng-bind="movie.title"></span></p>
          </div>
        </div>
      </a>
      </div>
  </div>
<div class="row-fluid">
  <div class="col-md-12">
    <br/>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-12" style="height: 100px; background: black;">
    <h2 class="text-center fg-white vertical-align">Your home of movies and TV shows</h2>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-12">
    <br/>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-11 vcenter">
    <h4>New Tv shows</h4>
  </div>
  <div class="col-md-1"><a href="#/series">show all</a></div>
  <br/>
</div>

<div class="row-fluid">
  <br/>
  <div ng-repeat="series in ctrl.newSeries" class="col-md-2 col-sm-4">
    <a href="#/aseries" ng-click="ctrl.setSelectedSeries(series)">
    <div  class="card">
      <img src="{{ctrl.getSeriesCoverImage(series)}}" class="img-responsive img-cover card-img-top">
      <div class="card-block">
        <p class="card-title"><span ng-bind="series.title"></span></p>
      </div>
    </div>
    </a>
  </div>
    
</div>

<div class="row-fluid">
  <div class="col-md-11 vcenter">
    <h4>Top rated</h4>
  </div>
  <div class="col-md-1"><a href="#/series">show all</a></div>
  <br/>
</div>

<div class="row-fluid">
  <br/>
 <div ng-repeat="series in ctrl.topRatedSeries" class="col-md-2 col-sm-4">
      <a href="#/aseries" ng-click="ctrl.setSelectedSeries(series)">
    <div  class="card">
      <img src="{{ctrl.getSeriesCoverImage(series)}}" class="img-responsive img-cover card-img-top">
      <div class="card-block">
        <p class="card-title"><span ng-bind="series.title"></span></p>
      </div>
    </div>
      </a>
    </div>
</div>
</div>