
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <p>Chart</p>
                </li>
                <li>
                    <a href="#" ng-click="getNewTVShows()">New TV shows</a>
                </li>
                <li>
                    <a href="#" ng-click="getTopRatedTVShows()">Top Rated</a>
                </li>
                <li>
                    <hr class="style1">
                </li>
                <li>
                    <p>Genre</p>
                </li>
                <li>
                    <a href="#">All genres</a>
                </li>
                <li>
                    <a href="#">action</a>
                </li>
                <li>
                    <a href="#">Adventure</a>
                </li>
                <li>
                    <a href="#">Comedy</a>
                </li>
                <li>
                    <a href="#">Fantasy</a>
                </li>
                <li>
                    <a href="#">Historical</a>
                </li>
                <li>
                    <a href="#">Horor</a>
                </li>
                <li>
                    <a href="#">Magical Realism</a>
                </li>
                <li>
                    <a href="#">Mystery</a>
                </li>
                <li>
                    <a href="#">Paranoid</a>
                </li>
                <li>
                    <a href="#">Philosophical</a>
                </li>
                <li>
                    <a href="#">Romance</a>
                </li>
                <li>
                    <a href="#">Sage</a>
                </li>
                <li>
                    <a href="#">Satire</a>
                </li>
                <li>
                    <a href="#">Science Fiction</a>
                </li>
                <li>
                    <a href="#">Slice of Life</a>
                </li>
                <li>
                    <a href="#">Speculative</a>
                </li>
                <li>
                    <a href="#">Thriller</a>
                </li>
                <li>
                    <a href="#">Urban</a>
                </li>
                <li>
                    <a href="#">Western</a>
                </li>
                <li>
                    <a href="#">Animation</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>New TV shows</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3 col-sm-4" ng-repeat="series in ctrl.newSeries">
                        <a href="#/aseries" ng-click="setSelectedSeries(series)">
                        <div class="card">
                            <img src="{{ctrl.getCoverImage(series)}}" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">{{series.title}}</span>
                        </div>
                        </div>
                        </a>
                    </div>
                    
                </div>
            </div>
           
        </div>
        <!-- /#page-content-wrapper -->   
    </div>
    <!-- /#wrapper -->
