
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <p>Chart</p>
                </li>
                <li>
                    <a href="#">New TV shows</a>
                </li>
                <li>
                    <a href="#">Top Rated</a>
                </li>
                <li>
                    <hr class="style1">
                </li>
                <li>
                    <p>Genre</p>
                </li>
                <li>
                    <a href="#">All genres</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3>New TV Shows</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                     </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                     </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                     </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-3 col-sm-4">
                        <a href="#/aseries">
                        <div class="card">
                        <img src="images/yify.jpg" class="img-responsive img-cover card-img-top">
                        <div class="card-block bg-black">
                            <span class="fg-white">Jason Bourne</span>
                        </div>
                        </div>
                        </a>
                     </div>
                </div>
        
            </div>
            <nav aria-label="..."> <ul class="pagination"> <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li> <li class="page-item active"> <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a> </li> <li class="page-item"><a class="page-link" href="#">2</a></li> <li class="page-item"><a class="page-link" href="#">3</a></li> <li class="page-item"><a class="page-link" href="#">4</a></li> <li class="page-item"><a class="page-link" href="#">5</a></li> <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li> </ul> </nav>
        </div>
        <!-- /#page-content-wrapper -->   
    </div>
    <!-- /#wrapper -->
