.cmd-option-get{
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
    width: 700px;
}
.cmd-option-post{
    background-color: #e7f6ec;
    border: 1px solid #c3e8d1;
    width: 700px;
}
.cmd-option-delete{
    background-color: #f5e8e8;
    border: 1px solid #e8c6c7;
    width: 700px;
}
.cmd-option-container{
    left: 20%;
    position: absolute;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
}
.background-white{
    background: white;
}
.login-background{
    background: url(../img/bg-login.jpg) !important;
}
.fill-page{
    bottom: 0;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    position: absolute;
}